ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center; 
    border-bottom: 1px solid #eee;
}

header nav.main {
    width: 1440px;
    height: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100%;
}


header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.content{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.about{
    padding-top:30px;
}
.about > p{
    padding-top: 50px;
}

.post{
    margin-top: 70px;
}

.list {
    padding: 0 ;
}

.list > li{
    padding-top: 20px;
}

.project{
    margin-top: 70px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 40px;              
    margin-top: 30px;
    flex-wrap: wrap; /*화면비율*/
}

.project-list img {
    width: 400px;
    padding: 20px;
}